@font-face {
  font-family: 'ibmbios8';
  src: url("./IBM_BIOS.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

html, body {
  margin: 0 !important;
  padding: 0 !important;
  height: 100%;
  overflow: hidden;
  font-family: ibmbios8, monospace;
  color: #ffffff;
  background-color:#131313;
}
input, button {
  font-family: ibmbios8, monospace;
}
[hidden] {
  display: none !important;
}

body[data-cursor="loading"] {
  cursor: wait;
}
body[data-cursor="disabled"] {
  cursor: not-allowed;
}

#gui {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
  pointer-events: none;
  -webkit-user-select: none;
  user-select: none;

  line-height: 1;
  font-family: ibmbios8, monospace;

  display: flex;
}

/* ----- GUI STYLES ----- */
/* frame styles */
.gui-mainFrame {
  z-index: 1;

  display: flex;
  margin: auto;
  height: 75%;
  min-width: 650px;

  flex-direction: column;
  align-items: center;
}
.gui-mainFrame[data-screen] {
  pointer-events: initial;
}

.gui-debug {
  position: absolute;
  min-width: 30%;
  padding: 8px 16px 0px 8px;
}
.gui-hud {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.gui-messages {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 8px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  pointer-events: all;
  user-select: text;
  word-wrap: break-word;
}

/* background */
:root {
  --bg: #916f5687; /* #a26f49b2 */
}
.bg {
  background: var(--bg);
}
.bg-top {
  padding-top: 0;
}
.bg-top::before {
  content: "";
  position: absolute;
  z-index: -1;
  border-bottom: 16px solid var(--bg);
  left: 0;
  top: -16px;
  right: 0;
}
.bg-bottom {
  padding-bottom: 0;
}
.bg-bottom::after {
  content: "";
  position: absolute;
  z-index: -1;
  border-top: 16px solid var(--bg);
  left: 0;
  bottom: -16px;
  right: 0;
}
.bg-left { padding-left: 16px; }
.bg-left::before, .bg-left::after { border-left: 16px solid transparent; }
.bg-right { padding-right: 16px; }
.bg-right::before, .bg-right::after { border-right: 16px solid transparent; }


/* HUD */
.gui-hud .chat-container {
  position: absolute;
  left: 0; bottom: 0;
}
.gui-hud .chat-container input {
  pointer-events: initial;
}
.gui-hud .chat-list {
  display: flex;
  flex-direction: column;
}

.gui-hud .hotbar {
  margin: auto;
  width: fit-content;
  background-color: var(--bg);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
.hotbar-slot {
  width: 52px;
  height: 52px;
  margin: 4px;
  padding: 0;
  pointer-events: auto;
  background-color: unset;
  border: transparent solid 2px;
}
.hotbar-slot.selected {
  border-color: white;
}
.hotbar-slot img {
  width: 48px;
}


.gui-hud .status-display {
  position: absolute;
  right: 0; bottom: 0;
  display: flex;
  flex-direction: column;
  padding: 0px 8px 8px 16px;
}

/* Loading screen (before main.js has loaded & ran) */
.gui-messages > span {
  margin-bottom: 4px;
  line-height: 1.1;
}
/* Error screen */
.gui-messages.error-screen {
  background-color: #444a;
}
.gui-messages.error-screen > span.error {
  color: orangered;
}
.gui-messages.error-screen > span.stacktrace {
  margin-left: 1em;
  color: #ddd;
}
