@font-face {
  font-family: 'ibmbios8';
  src: url("./IBM_BIOS.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

html, body {
  margin: 0 !important;
  padding: 0 !important;
  height: 100%;
  overflow: hidden;
  font-family: ibmbios8, monospace;
  color: #ffffff;
  background-color:#131313;
}
input, button {
  font-family: ibmbios8, monospace;
}


.container {
  position: relative;
}
#gui {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
  user-select: none;
  pointer-events: none;
  
  line-height: 1;
  font-family: ibmbios8, monospace;
  
  display: flex;
}

/* ----- GUI STYLES ----- */
.gui-mainFrame {
  z-index: 1;
  
  display: flex;
  margin: auto;
  height: 75%;
  min-width: 650px;

  flex-direction: column;
  align-items: center;
}
.gui-mainFrame:not(:empty) {
  pointer-events: initial;
}

.gui-debug {
  position: absolute;
}
.gui-hud {
  position: fixed;
  bottom: 0;
  width: 100%;
}
.gui-loading {
  position: absolute;
  margin: 8px;
  display: flex;
  flex-direction: column;
}


/* common styles */
.gui-mainFrame input {
  font-size: 1em;
}
.gui-mainFrame button {
  font-size: 1em;
}
button.big {
  color: white;
  border: white solid 4px;
  margin: 6px 6px 10px;
  padding: 6px 12px;
  background-color: transparent;
  cursor: pointer;
  box-shadow: 4px 4px 0 #555;
}
button.back {
  align-self: baseline;
  margin-top: 32px;
}
button.invisible {
  opacity: 0;
  pointer-events: none;
}


/* HUD */
.gui-hud .chat-container {
  position: absolute;
  left: 0; bottom: 0;
}
.gui-hud .chat-container input {
  pointer-events: initial;
}
.gui-hud .chat-list {
  display: flex;
  flex-direction: column;
}

.gui-hud .hotbar {
  margin: auto;
  width: fit-content;
}
.gui-hud .status-display {
  position: absolute;
  right: 0; bottom: 0;
  display: flex;
  flex-direction: column;
}


/* Main Menu */
.gui-mainFrame[data-screen="main_menu"] h1 {
  font-size: 6em;
  font-weight: normal;
  margin: 0;
  text-shadow: 6px 6px 0 #555;
}
.gui-mainFrame[data-screen="main_menu"] h2 {
  font-size: 2em;
  font-weight: normal;
  margin: 0 0 24px;
}


/* Loading screen (before main.js has loaded & ran) */
.gui-loading > span {
  margin-bottom: 2px;
}