@font-face {
  font-family: 'ibmbios8';
  src: url("./IBM_BIOS.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

html, body {
  margin: 0 !important;
  padding: 0 !important;
  height: 100%;
  overflow: hidden;
  font-family: ibmbios8, monospace;
  color: #ffffff;
  background-color:#131313;
}
input, button {
  font-family: ibmbios8, monospace;
}


.container {
  position: relative;
}
#glCanvas {
  position: relative;
  background-color:#131313;
  height: 100%;
  width: 100%;
}


/* old gui styles */
#controls, #chat {
  bottom: 5px;
  left: 0;
  position: absolute;
  width: 100%;
}
.up {
  bottom: 20px;
  left: 25px;
  position: absolute;
}
.down {
  bottom: 0px;
  left: 25px;
  position: absolute;
}
.left {
  bottom: 0px;
  left: 0px;
  position: absolute;
}
.right {
  bottom: 0px;
  left: 50px;
  position: absolute;
}
#chat #inputMessage {
  bottom: 20px;
  left: 100px;
  position: absolute;
}
#chat #sendButton {
  bottom: 0px;
  left: 100px;
  position: absolute;
}
#chat #messages {
  bottom: 40px;
  left: 0px;
  position: absolute;
  color: #ffffff
}
#disconnected {
  bottom: 5px;
  left: 400px;
  position: absolute;
  width: 100%;
}

#debug {
  top: 5px;
  left: 0;
  position: absolute;
  width: 100%;
}

/* ----- GUI STYLES ----- */
#gui {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
  
  line-height: 1;
  font-family: ibmbios8, monospace;
  
  display: flex;
}
.gui-mainFrame {
  z-index: 1;
  
  display: flex;
  margin: auto;
  height: 75%;
  min-width: 650px;

  flex-direction: column;
  align-items: center;
}


/* common styles */
.gui-mainFrame input {
  font-size: 1em;
}
.gui-mainFrame button {
  font-size: 1em;
}
button.big {
  color: white;
  border: white solid 4px;
  margin: 6px 6px 10px;
  padding: 6px 12px;
  background-color: transparent;
  cursor: pointer;
  box-shadow: 4px 4px 0 #555;
}
button.back {
  align-self: baseline;
  margin-top: 32px;
}
button.invisible {
  opacity: 0;
  pointer-events: none;
}

/* loading screen */
#gui .logo {
  white-space: pre;
  font-size: 8px;
}
#gui .item {
  margin-top: 2em;
}
#gui .item .indent {
  margin-left: 2em;
}

/* Main Menu */
.gui-mainFrame[data-screen="main_menu"] h1 {
  font-size: 6em;
  font-weight: normal;
  margin: 0;
  text-shadow: 6px 6px 0 #555;
}
.gui-mainFrame[data-screen="main_menu"] h2 {
  font-size: 2em;
  font-weight: normal;
  margin: 0 0 24px;
}